* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.balance {
  text-align: center;
  margin: 15px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.income {
  color: green;
}

.expense {
  color: red;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #673ab7;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background: #512da8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-right: 5px solid;
}

li.plus {
  border-color: green;
}

li.minus {
  border-color: red;
}
